body {
  background-color: #d5eeff;
  font-family: 'Playfair Display', serif;
}
#navbar {
  margin:-8px -8px 5px -8px;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #005792;
}

#navbar li {
  float: left;
}

#logo {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

#navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar li a:hover {
    background-color: #00204a;
}

#navbar #floatRight {
  float: right;
}

@media screen and (max-width: 600px){
  #navbar li,
  #navbar #floatRight {float: none;}
}

.about {
  margin: 30px 30px 0px 30px;
}
