body {
  background-color: #d9faff;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

header {
  text-align: center;
  font-size: 40px;
  animation-duration: 3s;
  animation-name: fadein;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a:hover, a:visited, a:link, a:active {
  background-color: #005792;
  color: white;
  padding: 7px 15px 7px 15px;
  border-radius: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
