#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ccc;
}

#navbar li {
    float: left;
}

#logo {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  background-color: #555;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#navbar li a:hover {
    background-color: #111;
}

#content {
  display:flex;
  flex-direction: row;
}
#left {
   flex:1 6 200px;
   border: 1px solid grey;
}
#right {
  flex:6 1 auto;
}

#roomiesItem ul{
  list-style-type: none;
}

#roomiesItem {
  height:400px;
  width:300px;
  padding-top:10px;
  margin: 0 15px 15px 15px;
  border: 1px solid lightgrey;
  font-family: serif;
}
