body {
  background-color: #d5eeff;
  font-family: 'Playfair Display', serif;
}

header {
  margin: 20px;
}

#navbar {
  margin:-8px -8px 5px -8px;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #005792;
}

#navbar li {
    float: left;
}

#navbar #floatRight {
  float: right;
}

@media screen and (max-width: 600px){
    #navbar li,
    #navbar #floatRight {float: none;}
}

#logo {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 0px;
}

/* Change the link color to #111 (black) on hover */
#navbar li a:hover {
    background-color: #00204a;
}

#roomiesList {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding:0;
  margin:0;
}

.roomiesItem {
  width: 250px;
  background-color: #f2fcff;
  list-style-type: none;
  margin: 20px 10px 10px 20px;
  padding: 0px;
  border: 2px solid #005792;
  border-radius: 5px;
  text-align: center;
}


#likeRoomiesItem {
  border: 2px solid yellow;
}

#likedRoomiesItem {
  border: 2px solid red;
}

#matchedRoomiesItem {
  border: 2px solid green;
}

#name {
  font-size: 20px;
}

.info {
  font-size: 15px;
  margin-bottom: 6px;
  color: black;
}

.image {
  margin-bottom: 5px;
  width: 250px;
  height: 250px;
  object-fit: cover;
  padding: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

a:hover, a:visited, a:link, a:active {
  background-color: #005792;
  color: white;
  padding: 7px 15px 7px 15px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#left {
   float:left;
   border: 2px solid #005792;
   margin: 20px 10px 20px 20px;
   padding: 0 3px;
   border-radius: 5px;
 }

 .filter {
   font-size: 15px;
   margin: 15px;
 }

 #filterbutton {
   margin: 0px 0px 15px 20px;
   background-color: #005792;
   color: white;
   padding: 7px 15px 7px 15px;
   border-radius: 5px;
   font-size: 15px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
 }

.colorcode {
  font-size: 15px;
  margin: 20px;
}
