#navbar {
  margin:-8px -8px 5px -8px;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ccc;
}

#navbar li {
    float: left;
}

#logo {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  background-color: #555;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#navbar li a:hover {
    background-color: #111;
}

#roomiesList {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding:0;
  margin:0;
}

#roomiesItem {
  list-style-type: none;
  margin:0 20px 20px 0;
  width:250px;
  height:300px;
  padding: 10px;
  border: 1px solid lightgrey;
  font-family: serif;
  text-align: center;
}

#roomiesItem li {
  margin-bottom: 6px;
  font-size: 26px;
}
