body {
  background-color: #d9faff;
  font-family: 'Roboto', sans-serif;
}
#navbar {
  margin:-8px -8px 5px -8px;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #005792;
}

#navbar li {
    float: left;
}

#logo {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#navbar li a:hover {
    background-color: #00204a;
}

#navbar #floatRight {
  float: right;
}

@media screen and (max-width: 600px){
    #navbar li,
    #navbar #floatRight {float: none;}
}

#content {
  display:flex;
  flex-direction: row;
}
#image {
  border: 2px solid #005792;
  border-radius: 8px;
  margin: 20px;
  flex:1 4 200px;
}
#right {
  padding-left: 10px;
  flex:4 1 auto;
}
#right h1 {
  margin-top: 15px;
}

#right button {
    background-color: #005792;
    border-radius: 4px;
    border: none;
    color: white;
    margin-right: 10px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;

}

#right button:hover {
    background-color: #00204a;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    text-align: center;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 14px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #00204a;
    text-decoration: none;
    cursor: pointer;
}

#name {
  font-size: 20px;
}

.info {
  font-size: 15px;
  margin-bottom: 6px;
  color: black;
}

#upload {
  margin: 20px;
}
