#navbar {
  margin:-8px -8px 5px -8px;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ccc;
}

#navbar li {
    float: left;
}

#logo {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  background-color: #555;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#navbar li a:hover {
    background-color: #111;
}

#content {
  display:flex;
  flex-direction: row;
  padding:15px;
}
#left {
   flex:1 4 200px;
}
#right {
  flex:4 1 auto;
}
