<link rel="stylesheet" href="/stylesheets/about.css">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

<div id="navbar">
  <ul>
    <li id="logo">ROFL</li>
    <li><a href="/potentialroomies">Home</a></li>
    <li><a href="/about">About Us</a></li>
    <li id="floatRight">
        <a href={{logout_url}}>Log out</a>
    </li>
    <li id="floatRight"><a href="/profile?key={{current_person.key.urlsafe()}}">My Profile</a></li>
    <li id="floatRight"><a href="/mymatches">My Matches</a></li>
  </ul>
</div>

<header><h2>About Us</h2></header>
