<link rel="stylesheet" href="/stylesheets/mymatches.css">

<div id="navbar">
  <ul>
    <li id="logo">ROFL</li>
    <li><a href="/potentialroomies">Home</a></li>
    <li style="float:right">
        <a href="/">Log out</a>
    </li>
    <li style="float:right"><a href="/profile?key={{current_person.key.urlsafe()}}">My Profile</a></li>
    <li style="float:right"><a href="/mymatches">My Matches</a></li>
  </ul>
</div>

<div>People I liked</div>
<!-- <div id="right">
  <ul id="roomiesList">
    {% for person in people %}
      {% if current_person.key !=  person.key %}
        <div id = "roomiesItem">
          <div><li>{{person.name}}</li></div>
          <div><img width="240" src="/photo?key={{person.key.urlsafe()}}" alt="Photo of {{person.name}}"></div>
          <div>{{person.year}} at {{person.college}}</div>
          <div>{{person.city}}, {{person.state}}</div>
          <div><a href="/profile?key={{person.key.urlsafe()}}">View Profile</a></div>
        </div>
      {% endif %}
    {% endfor %}
  </ul>
</div> -->

<div>People who liked me</div>
<!-- <div id="right">
  <ul id="roomiesList">
    {% for person in people %}
      {% if current_person.key !=  person.key %}
        <div id = "roomiesItem">
          <div><li>{{person.name}}</li></div>
          <div><img width="240" src="/photo?key={{person.key.urlsafe()}}" alt="Photo of {{person.name}}"></div>
          <div>{{person.year}} at {{person.college}}</div>
          <div>{{person.city}}, {{person.state}}</div>
          <div><a href="/profile?key={{person.key.urlsafe()}}">View Profile</a></div>
        </div>
      {% endif %}
    {% endfor %}
  </ul>
</div> -->

<div>Mutual likes</div>
<!-- <div id="right">
  <ul id="roomiesList">
    {% for person in people %}
      {% if current_person.key !=  person.key %}
        <div id = "roomiesItem">
          <div><li>{{person.name}}</li></div>
          <div><img width="240" src="/photo?key={{person.key.urlsafe()}}" alt="Photo of {{person.name}}"></div>
          <div>{{person.year}} at {{person.college}}</div>
          <div>{{person.city}}, {{person.state}}</div>
          <div><a href="/profile?key={{person.key.urlsafe()}}">View Profile</a></div>
        </div>
      {% endif %}
    {% endfor %}
  </ul>
</div> -->
