<!--link to potential roommates-->
<link rel="stylesheet" href="/stylesheets/potentialroomies.css">

<button type="button">Home</button>
<button type="button">My Profile</button>
<button type="button">Log Out</button>
<button type="button">My Matches</button>
<button type="button">Potential Matches</button>
<button type="button">View Profile</button>
<button type="button">Like</button>

{% for person in people %}
  <div id = "roomieslist">
  <ul>
    <li><a href="/profile?key={{person.key.urlsafe()}}">{{person.name}}</a></li>
  </ul>
</div>
{% endfor %}
