<!DOCTYPE html>
<head>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
</head>
<!--link to potential roommates-->
<link rel="stylesheet" href="/stylesheets/potentialroomies.css">

<div id="navbar">
  <ul>
    <li id="logo">ROFL</li>
    <li><a href="/potentialroomies">Home</a></li>
    <li id="floatRight">
        <a href={{logout_url}}>Log out</a>
    </li>
    <li id="floatRight"><a href="/profile?key={{current_person.key.urlsafe()}}">My Profile</a></li>
    <li id="floatRight"><a href="/mymatches">My Matches</a></li>
  </ul>
</div>

<div class="container">
  <div id="left">
      <form action="/potentialroomies" method="get">
      <div>
        <h4 class="filter">Filter by:</h4>
      </div>
      <div class="filter">
        <input name="city_filter" type="checkbox">
        <label for="city">City</label>
      </div>
      <div class="filter">
        <input name="state_filter" type="checkbox">
        <label for="state">State</label>
      </div>
      <div class="filter">
        <input name="smoking_filter" type="checkbox">
        <label for="smoking">Smoking</label>
      </div>
      <div class="filter">
        <input name="hobbies_filter" type="checkbox">
        <label for="hobbies">Hobbies</label>
      </div>
      <button id="filterbutton">Filter</button>
      </form>
      <p class="colorcode"><span style="color:red">RED</span> = waiting for like</p>
      <p class="colorcode"><span style="color:green">GREEN</span> = match</p>
      <p class="colorcode"><span style="color:#005792">BLUE</span> = people to like</p>
    </div>

  <div id="right">
    <ul id="roomiesList">
      {% for person in people %}
        {% if current_person.key !=  person.key %}
          {% if person in matches %}
          <div id = "matchedRoomiesItem">
            <div><img class="image" src="/photo?key={{person.key.urlsafe()}}" alt="Photo of {{person.name}}"></div>
            <div class="info" id="name"><li>{{person.name}}</li></div>
            <div class="info">{{person.year}} at {{person.college}}</div>
            <div class="info">{{person.city}}, {{person.state}}</div>
            <div class="info"><a href="/profile?key={{person.key.urlsafe()}}">View Profile</a></div>
          </div>
          {% elif person in people_likes_person %}
          <div id = "likedRoomiesItem">
            <div><img class="image" src="/photo?key={{person.key.urlsafe()}}" alt="Photo of {{person.name}}"></div>
            <div class="info" id="name"><li>{{person.name}}</li></div>
            <div class="info">{{person.year}} at {{person.college}}</div>
            <div class="info">{{person.city}}, {{person.state}}</div>
            <div class="info"><a href="/profile?key={{person.key.urlsafe()}}">View Profile</a></div>
          </div>
          {% else %}
          <div id = "roomiesItem">
            <div><img class="image" src="/photo?key={{person.key.urlsafe()}}" alt="Photo of {{person.name}}"></div>
            <div class="info" id="name"><li>{{person.name}}</li></div>
            <div class="info">{{person.year}} at {{person.college}}</div>
            <div class="info">{{person.city}}, {{person.state}}</div>
            <div class="info"><a href="/profile?key={{person.key.urlsafe()}}">View Profile</a></div>
          </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

<script src="potentialroomies.js"></script>

<script>
$('#left').click(function(e){
	if (e.target.checked) {
  	localStorage.checked = true;
  } else {
  	localStorage.checked = false;
  }
})

$( document ).ready(function() {

	document.querySelector('#checkBox').checked = localStorage.checked

});
</script>
