<!DOCTYPE html>
<link rel="stylesheet" href="/stylesheets/profile.css">

<div id="navbar">
  <ul>
    <li id="logo">ROFL</li>
    <li><a href="/potentialroomies">Home</a></li>
    <li style="float:right">
        <a href="/">Log out</a>
    </li>
    <li style="float:right"><a href="/">My Profile</a></li>
    <li style="float:right"><a href="/mymatches">My Matches</a></li>
  </ul>
</div>

<title>Profile Page for {{person.name}}</title>

<div id="content">
  <div id="left">
    <img width="240" src="/photo?key={{person.key.urlsafe()}}" alt="Photo of {{person.name}}">
  </div>
  <div id="right">
    <h1>{{person.name}}
    {% if is_my_profile %}
      <button style="float:right" name="Edit">Edit Profile</button></h1>
    {% else %}
      <form action="/profile" method="post">
        <button style="float:right" name="like">Like</button></h1>
      </form>
    {% endif %}
    <div>Email: {{person.email}}</div>
    <div>Gender: {{person.gender}}</div>
    <div>Year: {{person.year}}</div>
    <div>College: {{person.college}}</div>
    <div>City: {{person.city}}</div>
    <div>State: {{person.state}}</div>
    <div>About me: {{person.bio}}</div>
  </div>
</div>

{% if is_my_profile %}
  <form action="/upload_photo" method="post" enctype="multipart/form-data">
      Upload a profile photo: <input name="image" type="file"><br>
      <button>Upload</button>
  </form>
  <br><br><br>
{% endif %}
