<!DOCTYPE html>

<title>Profile Page for *insert name*</title>
<!--
<title>Profile Page for {{person.name}}</title>

<h1>{{person.name}}</h1>
<div>Email: {{person.email}}</div>
<div>About me: {{person.biography}}</div>
<img width="240" src="/photo?key={{person.key.urlsafe()}}" alt="Photo of {{person.name}}">

{% if is_my_profile %}
  <form action="/upload_photo" method="post" enctype="multipart/form-data">
      Upload a profile photo: <input name="image" type="file"><br>
      <button>Upload</button>
  </form>
{% endif %}
-->
